.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 34px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

body {
    background-color: 4C6331;
    font-size: 24px;
}

th, td {
    font-size: 24px;
}

#player1 {
    vertical-align: top;
    margin: auto;
    padding: 10px;
    background-color: #B3CB95;
    border: 2px solid black;
    border-radius: 15px;
    width: 86%;
}

startstop {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: maroon;
    margin-left: 40px;
}

#Column1 {
    vertical-align: top;
    width: 50%;
    display: inline-block;
}

#Column2 {
    background-color: #FFFFFF;
    width: 45%;
    display: inline-block;
}

#PlayerTitle {
    font-size: 60px;
}

.audioplayer {
    font-size: 24px;
}

.selectInput {
    font-size: 24px;
}

.gainControls {
    display: inline;
    font-size: 30px;
}

.trackTitles {
    display: inline-block;
    width: 150px;
    margin-left: 30px;
}

.trackVols {
    display: inline-block;
}

.titleItem {
    height: 34px;
}

.levelSlider {
    height: 34px;
}


.button {
    background-color: #82A953; /* Green */
    border-color: #82A953;
    border-radius: 15%;
    outline: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    visibility: hidden;
}

.button:hover {
    background: #4C6331;
}
